{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <div class="post-meta">
    Publié le {{ partial "date.html" .Date }}
  </div>

  <div class="page-content">
    {{ .Content }}
  </div>
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

  <div class="terminal-nav post-terminal-nav">
    <div class="back-nav">
      <a href="{{ "/" | relURL }}" class="back-link">../</a>
    </div>
    <div class="post-nav">
      {{ with .PrevInSection }}
        <a href="{{ .RelPermalink }}">&lt;</a>
      {{ end }}
      {{ with .NextInSection }}
        <a href="{{ .RelPermalink }}">&gt;</a>
      {{ end }}
    </div>
  </div>
{{ end }}
